# Constants
DBT_CLOUD_CONN_ID = "dbt_cloud_default"

ACCOUNT_ID = 70471823522439
PROJECT_ID = 70471823539963
ENV_ID = 70471823509111

PROJECT_NAME = "SF_DBT"
ENVIRONMENT_NAME = "Snowflake_DBT_Prod"
JOB_NAME = "DBT_SF_Astro"

JOB_ID = 70471823548773